--Tai lieu duoc chia se boi GenzShare.com
-- 1. Xem dữ liệu của tất cả các bảng
select * from tacpham;
select * from docgia;
select * from sach;
select * from muon;

--2. Vẽ sơ đồ liên thông 
--3. Các tác phẩm (NT, tựa) của tác giả 'Guy de Maupassant'. 
select NT, tua
from tacpham
where lower (tacgia) = 'guy de maupassant';

--4. Các độc giả sống ở địa chỉ '32 rue des Alouettes, 75003 Paris'.
select ho, ten
from docgia
where lower (dchi) = '32 rue des alouettes, 75003 paris';

--5. Tìm tên nhà xuất bản các tác phẩm bao gồm từ 'Fleur'
select nxb
from sach s join tacpham t on s.nt = t.nt
where lower(tua) LIKE '%fleur%';

--6. Tìm tên các tác phẩm bắt đầu bằng 'Le'
select tua
from tacpham
where lower(tua) LIKE 'le%';

--7. Tìm tên các độc giả có mượn sách trong trong khoảng thời gian từ ngày 15/9/2007 đến 20/09/2007
select d.ten
from docgia d join muon m on d.nd = m.nd
where extract(day from ngaymuon) between 15 and 20
    and extract (month from ngaymuon)=9
    and extract (year from ngaymuon)=2007;

--8. Nhà xuất bản của tác phẩm tiêu đề 'Germinal'.
select nxb
from tacpham t join sach s on s.nt = t.nt
where lower(tua) = 'germinal ';

--9. Tên độc giả đã mượn tác phẩm 'Poésie'
select d.ten
from docgia d join muon m on m.nd = d.nd
              join sach s on s.ns = m.ns
              join tacpham t on t.nt = s.nt
where lower(tua) = 'poésie';

--10. Những độc giả nào đã mượn tác phẩm Les 'Fleurs du mal'
 select d.ho, d.ten
 from docgia d join muon m on m.nd = d.nd
                join sach s on s.ns=m.ns
                join tacpham t on t.nt = s.nt
where lower(tua) = 'les fleurs du mal';

--11. Tìm các tựa sách, tên độc giả của các độc giả trả sách quá thời hạn cho phép
select t.tua, d.ten
from tacpham t join sach s on s.nt = t.nt
                join muon m on m.ns = s.ns
                join docgia d on d.nd = m.nd
where ngaytra > hantra;

--12. Tìm các tựa sách, tên độc giả của các độc giả trả sách trước thời hạn
select t.tua, d.ten
from tacpham t join sach s on s.nt = t.nt
                join muon m on m.ns = s.ns
                join docgia d on d.nd = m.nd
where hantra > ngaytra;

--13. Tên độc giả đã mượn tác phẩm của 'Victor Hugo'
select distinct d.ten
from docgia d join muon m on m.nd = d.nd
              join sach s on s.ns = m.ns
              join tacpham t on t.nt = s.nt
where lower(tacgia) = 'victor hugo';

--14. Tên độc giả và các tác phẩm đã được mượn năm 2007
select d.ten, t.tua, m.ngaymuon
from docgia d join muon m on m.nd = d.nd
              join sach s on s.ns = m.ns
              join tacpham t on t.nt = s.nt
where extract (year from ngaymuon)=2007;

--15. Tính số tác phẩm có trong thư viện.
select count(*) sotp
from tacpham;

--16. Tựa của tác phẩm mà có ít nhất hai quyển sách.
select t.nt, tua, count(*) sotp
from tacpham t join sach s on t.nt = s.nt
group by t.nt, tua having count(*) >1
order by t.nt;

--17. Tính Số tác phẩm của mỗi tác giả.
select tacgia, count(*) sotp
from tacpham
group by tacgia

--18. Tính Số sách của mỗi tác phẩm.
select tua, count(*) sotp
from sach s JOIN tacpham t ON s.nt = t.nt
group by tua

--19. Tìm số lần mượn sách của mỗi độc giả theo năm
select nd, extract(year from ngaymuon) nawm, count(*)
from muon
group by nd, extract(year from ngaymuon)
order by nd;

--20. Tìm tên tác phẩm có ít nhất 3 sách
select s.NT, tua, count(*) soTP
from sach s JOIN tacpham t ON s.nt = t.nt
group by s.NT, tua HAVING count (*) >2
order by s.NT

--21. Tìm tên tác phẩm có nhiều sách nhất
----> Cách 1
select t.nt, tua, count(*) sotp
from tacpham t join sach s on t.nt = s.nt
group by t.nt, tua having count(*) >= ALL (select count(*) sotp
                                      from sach
                                      group by nt)
order by t.nt;
----> Cách 2
select t.nt, tua, count(*) sotp
from tacpham t join sach s on t.nt=s.nt
group by t.nt, tua having count(*) >= (select max(count(*) ) sotp
                                        from sach
                                         group by nt)
order by t.nt;
----> Cách 3
select tua
from 
    (select t.nt, tua, count (*) sotp
    from tacpham t join sach s on t.nt=s.nt
    group by t.nt, tua) t
where sotp = (select max (count (*)) sotp
               from sach
               group by nt )

----> Cách 4
create table c21 as
  select t.nt, tua, count(*) sotp
    from tacpham t join sach s on t.nt = s.nt
    group by t.nt, tua
    
    select tua
      from c21
    where sotp = (select max(sotp)
        from c21)
        
drop table c21;

--22. Tên nhà xuất bản xuất bản nhiều sách nhất
select s.nxb, count(*) sotp
from tacpham t join sach s on t.nt = s.nt
group by s.nxb having count(*) >= ALL (select count(*) sotp
                                      from sach
                                      group by nxb)
order by s.nxb;

--23. Tính Số tác giả có ít nhất hai tác phẩm
select  count(*) sotg
from 
    (select tacgia, count(*) sotp
        from tacpham
        group by tacgia having count(*) >=2)

--24. Tìm tựa tác phẩm có nhiều người mượn nhất
select t.nt, t.tua, count (*) solan
from tacpham t join sach s on t.nt = s.nt
                join muon m on m.ns = s.ns
group by t.nt, t.tua having count (*) >= all (select count(*) solan1
                                                    from tacpham t join sach s on t.nt=s.nt
                                                                    join muon m on m.ns=s.ns
                                                                    group by t.nt)
--25. Tìm tựa tác phẩm có ít người mượn nhất
select t.nt, t.tua, count (*) solan
from tacpham t join sach s on t.nt = s.nt
                join muon m on m.ns = s.ns
group by t.nt, t.tua having count (*) <= all (select count(*) solan1
                                                    from tacpham t join sach s on t.nt=s.nt
                                                                    join muon m on m.ns=s.ns                                                                
                                                                    group by t.nt)

--26. Tìm độc giả mượn nhiều tác phẩm nhất
select d.ten, count (*) solan
from docgia d join muon m on m.nd = d.nd
              join sach s on s.ns = m.ns
              join tacpham t on t.nt = s.nt
group by  d.ten having count (*) >= all (select count(*) solan1
                                                    from docgia d join muon m on m.nd = d.nd
                                                                    join sach s on s.ns = m.ns
                                                                     join tacpham t on t.nt = s.nt
                                                                    group by d.ten)
--27. Tìm tên độc giả mượn ít tác phẩm nhất
select d.ten, count (*) solan
from docgia d join muon m on m.nd = d.nd
              join sach s on s.ns = m.ns
              join tacpham t on t.nt = s.nt
group by  d.ten having count (*) <= all (select count(*) solan1
                                                    from docgia d join muon m on m.nd = d.nd
                                                                    join sach s on s.ns = m.ns
                                                                     join tacpham t on t.nt = s.nt
                                                                    group by d.ten)

--28. Tìm tên tác phẩm có ít nhất một quyển sách không ai mượn
select tua
from tacpham t join sach s on t.nt =s.nt left join muon m on s.ns = m.ns
where ngaymuon is null;

--29. Tìm tên tác phẩm có tất cả các quyển sách đều được mượn
select tua from tacpham
minus
select tua
from tacpham t join sach s on t.nt=s.nt left join muon m on s.ns=m.ns
where ngaymuon is null;

--30. Tìm họ tên độc giả chưa mượn quyển sách nào
----> Cách 1
select ho || ten hoten
from docgia
where nd NOT IN (select nd from muon)
----> Cách 2
select ho || ten hoten
from docgia d left join muon m on d.nd = m.nd
where ngaymuon is null

--31. Tìm thông tin về nhà suất bản của quyển sách mà chưa được ai mượn
select nxb,tua
from tacpham t join sach s on s.nt = t.nt
               left join muon m on m.ns = s.ns
where ngaymuon is null 
order by s.nxb