--Tai lieu duoc chia se boi GenzShare.com
--1. Tìm sự thông thương giữa các bảng trong CSDL
--2. Mở các bảng dữ liệu để xem kiểu dữ liệu của từng trường và quan sát dữ liệu của từng bảng
select * from KTRUCSU;
select * from CHUTHAU;
select * from CHUNHAN;
select * from CONGNHAN;
select * from CGTRINH;
select * from THAMGIA;
select * from THIETKE;

--3. Hãy cho biết thông tin về các kiến trúc sư có họ là Lê và sinh năm 1956
select *
from KTRUCSU
    where lower(HOTEN_KTS) LIKE 'le%' and NAMS_KTS = 1956 ;

--4. Hãy cho biết tên các công trình bắt đầu trong khoảng 1/9/1994 đến 20/10/1994
select TEN_CTR
from CGTRINH
    where (extract (day from NGAY_BD) between 1 and 20) and (extract (month from NGAY_BD) between 9 and 10) and (extract (year from NGAY_BD) = 1994 ) ;

--5. Hãy cho biết tên và địa chỉ các công trình do chủ thầu ‘công ty xây dựng số 6’ thi công (chú ý: xem dữ liệu để lấy đúng tên công ty xây dựng số 6)
select TEN_CTR, DIACHI_CTR
 from CGTRINH 
 where TEN_THAU = 'cty xd so 6';

--6. Tìm tên và địa chỉ liên lạc của các chủ thầu thi công công trình ở Cần Thơ do kiến trúc sư Lê Kim Dung thiết kế
select ch.TEN_THAU, ch.DCHI_THAU
from CHUTHAU ch join CGTRINH cgt on cgt.TEN_THAU = ch.TEN_THAU
                join THIETKE tk on tk.STT_CTR = cgt.STT_CTR
where TINH_THANH = 'can tho' and HOTEN_KTS = 'le kim dung';

--7. Hãy cho biết nơi tốt nghiệp của các kiến trúc sư đã thiết kế công trình Khách sạn quốc tế ở Cần Thơ
select kts.NOI_TN
from KTRUCSU kts join THIETKE tk on kts.HOTEN_KTS = tk.HOTEN_KTS
                join CGTRINH cgt on cgt.STT_CTR = tk.STT_CTR
where TINH_THANH = 'can tho' and TEN_CTR = 'khach san quoc te';


--8. Cho biết họ tên, năm sinh và năm vào nghề của các công nhân có chuyên môn hàn hoặc điện đã tham gia các công trình mà chủ thầu Lê Văn Sơn đã trúng thầu
select cn.HOTEN_CN, cn.NAMS_CN, cn.NAM_VAO_N
from CONGNHAN cn join THAMGIA tg on tg.HOTEN_CN= cn.HOTEN_CN
                join CGTRINH cgt on cgt.STT_CTR = tg.STT_CTR
 where (CH_MON = 'han' or CH_MON = 'dien') and TEN_THAU = 'le van son';

--9. Những công nhân nào đã bắt đầu tham gia sông trình Khách sạn Quốc tế ở Cần Thơ trong giai đoạn từ ngày 15/12/1994 đến 31/12/1994
select cn.HOTEN_CN
from CONGNHAN cn join THAMGIA tg on tg.HOTEN_CN = cn.HOTEN_CN
                join CGTRINH cgt on cgt.STT_CTR = tg.STT_CTR
where TEN_CTR= 'khach san quoc te' and TINH_THANH = 'can tho' and (NGAY_TGIA > 'DEC-15-1994' and NGAY_TGIA < 'DEC-31-1994' ) ;

--10. Cho biết họ tên và năm sinh của các kiến trúc sư đã tốt nghiệp ở TP HCM và đã thiết kế ít nhất một công trình có kinh phí đầu tư trên 400 triệu đồng
select kts.hoten_kts, kts.nams_kts, kinh_phi
from cgtrinh  cg join thietke th on th.stt_ctr = cg.stt_ctr
                join ktrucsu kts on kts.hoten_kts = th.hoten_kts
where kinh_phi > 400

--11. Tìm họ tên và chuyên môn của các công nhân tham gia các công trình do kiến trúc sư Lê Thanh Tùng thiết kế
select cn.hoten_cn, cn.ch_mon
from CONGNHAN cn join THAMGIA tg on cn.HOTEN_CN= tg.HOTEN_CN
                join CGTRINH cgt on cgt.STT_CTR = tg.STT_CTR
                join THIETKE tk on tk.STT_CTR= tg.STT_CTR
where HOTEN_KTS='le thanh tung';

--12. Cho biết tên công trình có kinh phí cao nhất
--c1
select c.TEN_CTR
from CGTRINH c
where c.kinh_phi= (select max(c.kinh_phi) kp from cgtrinh c);
--c2
select  ten_ctr
from cgtrinh 
where kinh_phi = (select max (kinh_phi) from cgtrinh);

--13. Cho biết họ tên kiến trúc sư trẻ tuổi nhất
select hoten_kts
from ktrucsu
where nams_kts = (select max(nams_kts) from ktrucsu);

--14. Tìm tổng kinh phí của các công trình theo từng chủ thầu
--c1
select ct.ten_thau, sum(ctr.kinh_phi)
from chuthau ct join cgtrinh ctr on ct.ten_thau=ctr.ten_thau
group by ctr.ten_thau ;
--c2 k noi ket (cung bang)
select  ten_thau, SUM (kinh_phi)
from cgtrinh
group by ten_thau;

--15. Tìm tên và địa chỉ những chủ thầu đã trúng thầu công trình có kinh phí thấp nhất
select ct.TEN_THAU, ct.DCHI_THAU
from chuthau ct join cgtrinh cgt on ct.ten_thau = cgt.ten_thau
where cgt.kinh_phi = (select min(kinh_phi) from cgtrinh)

--16. Cho biết họ tên các kiến trúc sư có tổng thù lao thiết kế các công trình lớn hơn 25 triệu
select hoten_kts, thu_lao
from thietke
where thu_lao > '25';

--17. Cho biết số lượng các kiến trúc sư có tổng thù lao thiết kế các công trình lớn hơn 25 triệu
select count (HOTEN_KTS) soluong
from (select HOTEN_KTS, sum(thu_lao) tong
                from THIETKE
                group by HOTEN_KTS)
where tong >25;

-- 18. Tính số công trình mà mỗi kiến trúc sư đã thiết kế
--c1
select kts.hoten_kts, count(*) so_ctr
from cgtrinh cg join thietke tk on cg.stt_ctr = tk.stt_ctr
                join ktrucsu kts on kts.hoten_kts = tk.hoten_kts
group by kts.hoten_kts
--c2
select HOTEN_KTS, count(stt_ctr) soluong
from THIETKE
group by HOTEN_KTS

--19. Tính tổng số công nhân đã tham gia mỗi công trình
--c1
select cg.ten_ctr, count(*) socn
from thamgia th join cgtrinh cg on th.stt_ctr = cg.stt_ctr
group by cg.ten_ctr
--c2
select STT_CTR, count (HOTEN_CN) tong
from thamgia
group by STT_CTR
order by STT_CTR

--20. Tìm tên và địa chỉ công trình có tổng số công nhân tham gia nhiều nhất
--c1
select ten_ctr, diachi_ctr, count(*) socn 
from cgtrinh cg join thamgia th on th.stt_ctr = cg.stt_ctr
group by cg.stt_ctr, ten_ctr, diachi_ctr having count(*) = (select max(count(*)) from thamgia group by stt_ctr);
--c2
select TEN_CTR, DIACHI_CTR
from CGTRINH cgt join (select tg.STT_CTR, count(HOTEN_CN) tong
                        from THAMGIA tg
                        group by tg.STT_CTR having count (HOTEN_CN) >=all (select count(HOTEN_CN) tong
                                                                            from THAMGIA tg1
                                                                            group by STT_CTR) ) tg1
                on cgt.STT_CTR =tg1.STT_CTR;


--21. Cho biết tên các thành phố và kinh phí trung bình của các công trình của từng thành phố tương ứng
select TINH_THANH, avg(KINH_PHI)
from CGTRINH
group by TINH_THANH;

--22.Cho biết tên và địa chỉ của các công trình mà công nhân Nguyễn Hồng Vân đang tham gia vào ngày 18/12/1994
select TEN_CTR, DIACHI_CTR
from CGTRINH cgt join THAMGIA tg on cgt.STT_CTR=tg.STT_CTR
where  HOTEN_CN='nguyen hong van' and 'dec-18-1994' between NGAY_TGIA and NGAY_TGIA + SO_NGAY;

--23. Cho biết họ tên kiến trúc sư vừa thiết kế các công trình do Phòng dịch vụ Sở Xây dựng thi công, vừa thiết kế các công trình do chủ thầu Lê Văn Sơn thi công
--c1: dung toan tu tap hop
select hoten_kts
from cgtrinh c join thietke t on c.stt_ctr=t.stt_ctr
where ten_thau='phong dich vu so xd'
intersect
select hoten_kts
from cgtrinh c join thietke t on c.stt_ctr = t.stt_ctr
where ten_thau='cty xd so 6';
--c2: k dung tt tap hop
select hoten_kts
from cgtrinh c join thietke t on c.stt_ctr=t.stt_ctr
where ten_thau='phong dich vu so xd'
    and hoten_kts IN
        (select hoten_kts
        from cgtrinh c join thietke t on c.stt_ctr = t.stt_ctr
        where ten_thau='cty xd so 6');

--24. Cho biết họ tên các công nhân có tham gia các công trình ở Cần Thơ nhưng không tham gia công trình ở Vĩnh Long
select hoten_cn
from cgtrinh c join thamgia t on c.stt_ctr=t.stt_ctr
where tinh_thanh='can tho'
MINUS
select hoten_cn
from cgtrinh c join thamgia t on c.stt_ctr=t.stt_ctr
where tinh_thanh='vinh long';
--c2 dung long nhau
select distinct hoten_cn
from cgtrinh c join thamgia t on c.stt_ctr=t.stt_ctr
where tinh_thanh='can tho' and hoten_cn NOT IN
        (select hoten_cn
        from cgtrinh c join thamgia t on c.stt_ctr=t.stt_ctr
        where tinh_thanh='vinh long');

--25. Cho biết tên của các chủ thầu đã thi công các công trình có kinh phí lớn hơn tất cả các công trình do chủ thầu Phòng dịch vụ sở xây dựng thi công
select ten_thau
from cgtrinh
where kinh_phi > ALL
            (select kinh_phi
            from cgtrinh
            where ten_thau='phong dich vu so xd');
--c2
select ten_thau
from cgtrinh
where kinh_phi > 
            (select MAX (kinh_phi)
            from cgtrinh
            where ten_thau='phong dich vu so xd');

--26. Cho biết họ tên các kiến trúc sư có thù lao thiết kế cho một công trình nào đó dưới giá trị trung bình thù lao thiết kế của các KTS.
select hoten_kts, thu_lao
from thietke 
where thu_lao <
    (select avg (thu_lao)
    from thietke)

--27. Cho biết họ tên các công nhân có tổng số ngày tham gia vào các công trình lớn hơn tổng số ngày tham gia của công nhân Nguyễn Hồng Vân
select hoten_cn, sum(so_ngay) tong
from thamgia
group by hoten_cn having sum(so_ngay) >
                                (select sum(so_ngay)
                                from thamgia
                                where hoten_cn='nguyen hong van');

--28. Cho biết họ tên công nhân có tham gia tất cả các công trình
select hoten_cn, count (distinct stt_ctr) soct
from thamgia
group by hoten_cn having count (*) =
        (select count (*) from cgtrinh);
        
--29. Tìm các cặp tên của chủ thầu có trúng thầu các công trình tại cùng một thành phố
select distinct c1.ten_thau, c2.ten_thau
from cgtrinh c1 join cgtrinh c2 on c1.tinh_thanh = c2.tinh_thanh
where c1.ten_thau > c2.ten_thau ;

--30. Tìm các cặp tên của các công nhân có lamg việc chung với nhau trong ít nhất là hai công trình (2 tro len gom nhom)
select distinct th.hoten_cn, th1.hoten_cn 
from thamgia th join thamgia th1 on th.stt_ctr = th1.stt_ctr
where th.hoten_cn > th1.hoten_cn 
group by th.hoten_cn, th1.hoten_cn having count (*) >1 ;