--Tai lieu duoc chia se boi GenzShare.com
--NGUOI_AN(ten, tuoi, phai) /* bảng Người ăn bao gồm tên, tuổi và phái của người ăn */
--LUI_TOI(ten, quanPizza); /* Bảng Lui tới cho biết người ăn hay đến những quán pizza nào*/
--AN(ten, pizza); /* Bảng Ăn cho biết người ăn nào thích ăn bánh pizza gì*/
--PHUC_VU(quanPizza, pizza, gia); /* Bảng Phục vụ cho biết quán pizza nào phục vụ bánh pizza gì */


- Tìm sự thông thương giữa các bảng trong CSDL
- Chạy script CSDLPizza.sql để tạo CSDL và thêm dữ liệu cho CSDL vừa tạo.
--1. Thêm khóa chính cho các bảng đã cho
alter table NGUOI_AN add primary key(TEN);

alter table LUI_TOI add primary key ( TEN,QUANPIZZA);

alter table AN add  primary key(TEN, PIZZA);

alter table PHUC_VU add primary key(QUANPIZZA, PIZZA, GIA);


--Đặt thuộc tính "ten" là khóa ngoài của bảng LUI_TOI và AN
alter table LUI_TOI
add foreign key (TEN) references NGUOI_AN (TEN)

alter table AN
add foreign key (TEN) references NGUOI_AN (TEN)

--Thêm ràng buộc giá>0 cho cột "gia" của bảng PHUC_VU
alter table PHUC_VU
add constraint GIA check (GIA>0);

--2. Cho biết quán ‘Pizza Hut’ đã phục vụ các bánh pizza nào ?
select PIZZA
from PHUC_VU
where QUANPIZZA='Pizza Hut';

--3. Danh sách các bánh pizza mà các quán có bán ?
select PIZZA
from PHUC_VU
--4. Cho biết tên các quán có phục vụ các bánh pizza mà tên gồm chữ ‘m’
select QUANPIZZA
from PHUC_VU 
where PIZZA like ('%m%');

--5. Tìm tên và tuổi của người ăn đã đến quán ‘Dominos’, sắp xếp kết quả giảm dần theo tuổi?
select * from LUI_TOI;

select n.TEN, n.TUOI
from NGUOI_AN N inner join LUI_TOI L on L.TEN = N.TEN
where QUANPIZZA='Dominos'
order by N.TUOI desc;

--6. Tìm tên quán pizza và số bánh pizza mà mỗi quán phục vụ ?
select QUANPIZZA, COUNT(PIZZA)
from phuc_vu group by QUANPIZZA;

--7. Tìm tên những quán pizza phục vụ pizza với giá cao nhất ?
--selec long, selec quan , ten dv, select max gia,  (GROUP BY MAX chi lay quan co gia cao nhat)
select distinct QUANPIZZA, GIA, PIZZA
from PHUC_VU
where gia= (select max(gia) from phuc_vu);

--8. Tìm tên các quán có phục vụ ít nhất một bánh pizza mà “Ian” thích ăn ?
select distinct QUANPIZZA
from PHUC_VU P inner join AN N on N.PIZZA= P.PIZZA
where ten='Ian';

--9.  Tìm tên các quán có phục vụ ít nhất một bánh mà “Eli” không thích ?
select distinct QUANPIZZA
from PHUC_VU
where pizza  not in (select pizza from an where ten='Eli');

--10.  Tìm tên các quán chỉ phục vụ các bánh mà “Eli” thích ?
--lay banh tu quan not in voi banh thang kia thich
--tatca quan - cau 9
select distinct QUANPIZZA
from PHUC_VU
where PIZZA not in (select distinct QUANPIZZA from PHUC_VU
                                              where pizza not in (select pizza from an where ten='Ele')); 

--11. . Tên quán có phục vụ bánh với giá lớn hơn tất cả bánh phục vụ bởi quán ‘New York Pizza’
select distinct quanPizza
from PHUC_VU
where gia > ALL( select gia from phuc_vu where quanPizza='New York Pizza'  );

--12. Tìm tên các quán chỉ phục vụ các bánh có giá nhỏ hơn 10 ?
select quanPizza
from phuc_vu
minus
select  quanpizza
from phuc_vu
where gia>=10;


select * from phuc_vu;

--13.  Tìm tên bánh được phục vụ bởi quán ‘New York Pizza’ và quán ‘Dominos’
select pizza
from phuc_vu
where quanPizza = 'New York Pizza'
intersect 
select pizza
from phuc_vu
where quanPizza = 'Dominos'

--14. Tìm tên bánh được phục vụ bởi quán ‘Little Caesars’ và không phục vụ bởi quán 'Pizza Hut'
select pizza
from phuc_vu
where quanPizza = 'Little Caesars'
minus
select pizza
from phuc_vu
where quanPizza = 'Pizza Hut'

--15. Tìm tên các quán có phục vụ tất cả các loại bánh pizza?
select quanpizza
from phuc_vu 
group by quanpizza having count(*) = (select count (*) sobanh
                                          from ( 
                                          select distinct pizza
                                          from phuc_vu )
                                          );
----
select quanpizza
from phuc_vu 
group by quanpizza having count(distinct pizza) = (select count( distinct pizza) from phuc_vu)

--16. Tên quán phục vụ ít nhất 2 bánh pizza mà ‘Gus’ thích ?
select quanPizza
from PHUC_VU p inner join An a on p.pizza=a.pizza
where ten='Gus' group by quanPizza having count(distinct a.pizza) >1;


--17. Tìm tên các quán có phục vụ tất cả các bánh mà ‘Ian’ thích
select quanpizza 
from phuc_vu pv join an a on pv.pizza = a.pizza
where ten = 'Ian'
group by quanpizza having count(distinct a.pizza) = (select count(*) from an where ten ='Ian')

--
select quanPizza, count(*)
from (
  select distinct quanPizza, pizza
  from phuc_vu
  where pizza in (select pizza from an where ten='Ian'  )
)
group by quanPizza having count(*) = (select count (*) from an where ten = 'Ian');


--18. Tên người ăn lui tới ít nhất 3 quán?
select ten,  count(*)
from lui_toi
group by ten having count (*)>2;

--19. Tính số loại pizza mà mỗi quán có bán ?
select quanPizza, count (pizza)
from phuc_vu
group by quanpizza;

--20. Tìm tên người ăn thích các bánh ít nhất là giống các bánh mà Hil thích ?

select distinct ten
from an
where ten<>'Hil' and pizza in (
  select pizza
  from an
  where ten='Hil'
)
------
select ten 
from an a join (select pizza from an where ten ='Hil') hil on a.pizza = hil.pizza            
where ten <> 'Hil'
group by ten having count(*) = (select count (*) from an where ten ='Hil')

