--Tai lieu duoc chia se boi GenzShare.com
--Khuvuc(IP, tenKhuvuc, tang )
--Phong (MP, tenphong, somay , IP )
--Loai (idloai, tenloai)
--May (idMay, tenmay, IP, ad, idloai, MP )
--Phanmem(idPM, tenPM, ngaymua, version, idloai, gia )
--Caidat (id, idMay, idPM, ngaycai)

--1) Vẽ sơ đồ thông thương của các quan hệ
--2) Loại của máy 'p8'
select l.idloai, l.tenloai
from loai l inner join may m on m.idloai = l.idloai
where idmay = 'p8';

--3) Tên của các phần mềm 'UNIX'
select tenPM
from Phanmem
where idloai='UNIX';

--4) Tên phòng, địa chỉ IP phòng, mã phòng của các máy loại 'UNIX' hoặc 'PCWS'
select p.tenphong,  p.IP, p.MP
from Phong p inner join May m on p.MP= m.MP
where idloai='UNIX' or idloai = 'PCWS';

--5) Tên phòng, địa chỉ IP phòng, mã phòng của các máy loại 'UNIX' hoặc 'PCWS' ở khu vực '130.120.80', sắp xếp kết quả tăng dần theo mã phòng
select p.tenphong,  p.IP, p.MP
from Phong p inner join May m on p.MP= m.MP
where (idloai='UNIX' or idloai = 'PCWS') and (m.ip='130.120.80')
order by m.MP;

--6) Số các phần mềm được cài đặt trên máy 'p6'
select count (p.idPM)
from Phanmem p inner join Caidat cd on p.idPM=cd.idPM
where idMay='p6';

--7) Số các máy đã cài phần mềm 'log1'
select distinct count (m.idMay)
from May m inner join Caidat cd on cd.idMay=m.idMay
where idPM='log1';

--8) Tên và địa chỉ IP (ví dụ: 130.120.80.1) đầy đủ của các máy loại 'TX'
select tenmay ,IP ||'.'|| ad as IP
from may where idloai='TX';

--9) Tính số phần mềm đã cài đặt trên mỗi máy
select idmay, count(idPM) soPM
from Caidat
group by idMay;

--10) Tính số máy mỗi phòng
select  tenphong, somay
from phong;

--11) Tính số cài lần cài đặt của mỗi phần mềm trên các máy khác nhau
select  idmay,idpm,count(idmay) solancai
from caidat
group by idpm, idmay;

--12) Giá trung bình của các phần mềm UNIX
select AVG(gia) GiaTB
from phanmem
where idloai='UNIX';

--13) Ngày mua phần mềm gần nhất
select max(ngaymua)
from phanmem;

--14) Số máy có ít nhất 2 phần mềm
select count(*)
from 
    (select idmay, count(idpm)
        from Caidat 
        group by idmay having  count(*)>1);

--15). Tìm các loại không thuộc loại máy
--c1
select *
from LOAI
where IDLOAI not in (select distinct IDLOAI from MAY);
--c2
select *
from LOAI l left join  MAY m on l.idloai=m.idloai
Where idmay is null;

--16)Tìm các loại thuộc cả hai loại máy và loại phần mềm
select idloai
from may
intersect
select idloai
from phanmem;

--17)Tìm các loại máy không phải là loại phần mềm
select idloai
from may
minus
select idloai
from phanmem;

--18) Địa chỉ IP đầy đủ của các máy cài phần mềm 'log6'
select tenmay,ip || '.' || ad IPdaydu
from may m join caidat cd on m.idmay = cd.idmay
where idpm = 'log6'

--19) Địa chỉ IP đầy đủ của các máy cài phần mềm tên 'Oracle 8'
select tenmay,ip || '.' || ad IPdaydu
from may m join caidat cd on m.idmay = cd.idmay
           join phanmem pm on pm.idpm = cd.idpm
where tenpm = 'Oracle 8'

--20) Tên của các khu vực có chính xác 3 máy loại 'TX'
create table c20 as
select tenkhuvuc,idloai, count(idloai) so
from may m join khuvuc kv on m.ip = kv.ip 
group by idloai,tenkhuvuc;

select *
from c20
where so = 3

drop table c20;
--21) Tên phòng có ít nhất một máy cài phần mềm tên 'Oracle 6'
select distinct tenphong
from phanmem pm join caidat cd on cd.idpm = pm.idpm
                join may m on cd.idmay = m.idmay
                join phong ph on ph.mp = m.mp
where tenpm ='Oracle 6' and somay > 0;

--22) Tên phần mềm được mua gần nhất
select tenpm
from phanmem
where ngaymua =  (select max(ngaymua) from phanmem );

--23) Tên của phần mềm PCNT có giá lớn hơn "bất kỳ" giá của một phần mềm UNIX nào
select tenpm
from phanmem
where idloai = 'PCNT' and gia >  ( (select min (gia) from phanmem where idloai = 'UNIX'));

--24) Tên của phần mềm UNIX có giá lớn hơn "tất cả" các giá của các phần mềm PCNT
select tenpm
from phanmem
where idloai = 'UNIX' and gia >  all (select (gia) from phanmem where idloai = 'PCNT');

--25) Tên của máy có ít nhất một phần mềm chung với máy 'p6'
select tenmay
from caidat cd join may m on cd.idmay = m.idmay
where cd.idmay <>'p6' and idpm in (
                           select idpm
                           from caidat 
                           where idmay='p6');

--26) Tên của các máy có cùng phần mềm như máy 'p6' (có thể nhiều phần mềm hơn máy 'p6')
select idmay
from caidat c join (select idpm from caidat where idmay='p6') p on c.idpm=p.idpm
where idmay<>'p6'
group by idmay having count(*) = (select count(*) from caidat where idmay='p6');

--27) Tên của các máy có chính xác các phần mềm như máy 'p2'
 create table c27 as
    select idmay
    from caidat c join (select idpm from caidat where idmay='p2') p on c.idpm=p.idpm
    where idmay<>'p2'
    group by idmay having count(*) = (select count(*) from caidat where idmay='p2')
-- tìm chính xác bảng
select idmay
from c27
where idmay in ( select idmay
                 from caidat 
                group by idmay having count(*) = (select count(*) from caidat where idmay='p2'));

drop table c27;